<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relisapp">
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReLisApp">


        <!-- 👇 Đặt MainActivity làm màn hìn khởi dong -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".ui.screens.LoginActivity" android:exported="false" />
        <activity android:name=".ui.screens.RegisterActivity" android:exported="false" />


        <activity android:name=".phat.ui.admin.AdminDashboardActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".phat.ui.admin.AddLessonActivity"/>
        <activity android:name=".phat.ui.admin.AddEditCategoryActivity"/>
        <activity android:name=".phat.ui.admin.CategoryListActivity"/>
        <activity android:name=".phat.ui.user.UserCategoryListActivity"
            android:exported="true"/>
        <activity android:name=".phat.ui.user.UserLessonListActivity"/>
        <activity android:name=".phat.ui.admin.LessonListActivity"/>
        <activity
            android:name=".phat.ui.user.UserQuizActivity"
            android:exported="false" />
        <activity android:name=".phat.ui.admin.LessonDetailActivity"
            android:exported="false"/>
        <activity android:name=".phat.ui.admin.AddEditQuestionActivity"
            android:exported="false"/>
        <activity android:name=".phat.ui.admin.QuestionListActivity"
            android:exported="false"/>

        <activity android:name=".nam.MainActivity"/>
        <activity android:name=".nam.ui.screens.AdminDashboardActivity"/>
        <activity android:name=".nam.ui.screens.AdminDashboardActivity2"/>
        <activity android:name=".nam.ui.screens.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".nam.ui.screens.AdminActivity"/>
        <activity android:name=".nam.ui.screens.ChangeForgotPasswordActivity"/>
        <activity android:name=".nam.ui.screens.ChangePassWordActivity"/>
        <activity android:name=".nam.ui.screens.ChangeRoleActivity"/>
        <activity android:name=".nam.ui.screens.ForgotPasswordOtpVerificationActivity"/>
        <activity android:name=".nam.ui.screens.ForgotPasswordPhoneEntryActivity"/>
        <activity android:name=".nam.ui.screens.InfoProfileActivity"/>
        <activity android:name=".nam.ui.screens.ProfileActivity"/>
        <activity android:name=".nam.ui.screens.SignupActivity"/>
        <activity android:name=".nam.ui.screens.StartActivity"/>
        <activity android:name=".nam.ui.screens.UserDetailActivity"/>
        <activity android:name=".nam.ui.screens.UserListActivity"/>
        <activity android:name=".nam.ui.screens.VerificationActivity"/>
    </application>

</manifest>