<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.relisapp">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReLisApp">


        <!-- 👇 Đặt Ma   inActivity làm màn hìn khởi dong -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
          <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".ui.screens.LoginActivity" android:exported="false" />
        <activity android:name=".ui.screens.RegisterActivity" android:exported="false" />


        <activity android:name=".phat.ui.admin.AdminDashboardActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity android:name=".phat.ui.admin.AddLessonActivity"/>
        <activity android:name=".phat.ui.admin.AddEditCategoryActivity"/>
        <activity android:name=".phat.ui.admin.CategoryListActivity"/>
        <activity android:name=".phat.ui.user.UserCategoryListActivity"
            android:exported="true"/>
        <activity android:name=".phat.ui.user.UserLessonListActivity"/>
        <activity android:name=".phat.ui.admin.LessonListActivity"/>
        <activity
            android:name=".phat.ui.user.UserQuizActivity"
            android:exported="false" />
        <activity android:name=".phat.ui.admin.LessonDetailActivity"
            android:exported="false"/>
        <activity android:name=".phat.ui.admin.AddEditQuestionActivity"
            android:exported="false"/>
        <activity android:name=".phat.ui.admin.QuestionListActivity"
            android:exported="false"/>

        <activity android:name=".nam.ui.screens.admin.AdminDashboardActivity"/>
        <activity android:name=".nam.ui.screens.admin.AdminDashboardActivity2"/>
        <activity android:name=".nam.ui.screens.auth.LoginActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".nam.ui.screens.auth.ChangeForgotPasswordActivity"/>
        <activity android:name=".nam.ui.screens.auth.ChangePassWordActivity"/>
        <activity android:name=".nam.ui.screens.roles.ChangeRoleActivity"/>
        <activity android:name=".nam.ui.screens.auth.ForgotPasswordOtpVerificationActivity"/>
        <activity android:name=".nam.ui.screens.auth.ForgotPasswordPhoneEntryActivity"/>
        <activity android:name=".nam.ui.screens.user.InfoProfileActivity"/>
        <activity android:name=".nam.ui.screens.user.ProfileActivity"/>
        <activity android:name=".nam.ui.screens.auth.SignupActivity"/>
        <activity android:name=".nam.ui.screens.home.StartActivity" android:exported="true"><intent-filter>
                         <action android:name="android.intent.action.MAIN" />
                            <category android:name="android.intent.category.LAUNCHER" />
                      </intent-filter>
        </activity>
        <activity android:name=".nam.ui.screens.user.UserDetailActivity"/>
        <activity android:name=".nam.ui.screens.user.UserListActivity"/>
        <activity android:name=".nam.ui.screens.auth.VerificationActivity"/>
        <activity
            android:name=".nam.redirect.NotificationRedirectActivity"
            android:exported="true"/>
        <activity android:name=".nam.ui.screens.settings.SettingsActivity" />
        <activity android:name=".nam.ui.screens.streak.StreakActivity"/>
        <activity android:name=".nam.ui.screens.leaderboard.LeaderboardActivity" />

    </application>

</manifest>